In [1]:
import numpy as np
import pandas as pd

In [2]:
astro_xx_x = pd.read_csv("/Users/esang/Desktop/Gene/data/differential/xx_x_cluster_12_differential.csv")
astro_xy_xx = pd.read_csv("/Users/esang/Desktop/Gene/data/differential/xy_xx_cluster_12_differential.csv")

oligo_xx_x = pd.read_csv("/Users/esang/Desktop/Gene/data/differential/xx_x_cluster_34_differential.csv")
oligo_xy_xx = pd.read_csv("/Users/esang/Desktop/Gene/data/differential/xy_xx_cluster_34_differential.csv")

In [3]:
all_uw_cells_x_xx = pd.read_csv("/Users/esang/Desktop/Gene/data/differential/x_xx_uw.csv")

In [4]:
astro_xx_x

                Gene   z-scores  log_fold_changes
0          ('XIST',)  11.067369          9.681410
1       ('KIRREL3',)   6.778143          2.520900
2          ('MMD2',)   4.435356          1.450952
3         ('PPM1L',)   4.414673          1.886266
4      ('OTX2-AS1',)   4.229651          2.516373
...              ...        ...               ...
30468  ('OBI1-AS1',)  -6.087514         -2.359810
30469   ('CNTNAP5',)  -6.703280         -3.298885
30470     ('PCDH9',)  -6.860875         -5.537283
30471      ('DGKB',)  -6.882007         -2.091325
30472     ('CSMD1',)  -7.304657         -3.917555

[30473 rows x 3 columns]